<!doctype html>
<html class="no-js" lang="zxx">

<head>
	{include file="../public/static/home/head.html" title="$title" /}
</head>

<body>
	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
	<!-- Wrapper -->
	<div id="wrapper" class="wrapper">
		{include file="../public/static/home/header.html" /}

		<!-- Page Conttent -->
		<main class="page-content">

            <!-- Blog Area -->
            <div class="blog-details-area bg-white section-padding-md">
				<div class="container">
					{foreach $details as $value}
					<article class="blog-item blog-item-details">
						<div class="blog-item-thumb">
							<a href="blog_details.html">
								<img src="img/blog/blog-lg-image-2.jpg" alt="blog image">
							</a>
						</div>
						<div class="blog-item-content">
							<h4 class="blog-item-title">{$value.goodsname}</h4>
							<div class="blog-item-meta">POSTED BY <a href="blog.html">abcdcc</a> 05:12 AM MARCH 10, 2018 <a href="#">3 COMMENTS</a></div>
							<p>资料描述：{$value.goodsdetail}</p>
							<blockquote>
								Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur. In venenatis elit ac ultrices convallis. Duis est nisi, tincidunt ac urna sed, cursus blandit lectus. In ullamcorper sit amet ligula ut eleifend. Proin dictum tempor ligula, ac feugiat metus. Sed finibus tortor eu scelerisque scelerisque.
							</blockquote>
							<p>*****</p>
							<p>Suspendisse turpis ipsum, tempus in nulla eu, posuere pharetra nibh. In dignissim vitae lorem non mollis. Praesent pretium tellus in tortor viverra condimentum. Nullam dignissim facilisis nisl, accumsan placerat justo ultricies vel. Vivamus finibus mi a neque pretium, ut convallis dui lacinia. Morbi a rutrum velit. Curabitur sagittis quam quis consectetur mattis. Aenean sit amet quam vel turpis interdum sagittis et eget neque. Nunc ante quam, luctus et neque a, interdum iaculis metus. Aliquam vel ante mattis, placerat orci id, vehicula quam. Suspendisse quis eros cursus, viverra urna sed, commodo mauris. Cras diam arcu, fringilla a sem condimentum, viverra facilisis nunc. Curabitur vitae orci id nulla maximus maximus. Nunc pulvinar sollicitudin molestie.</p>
						</div>
						<div class="blog-item-share">
							<h6>Share This Post: </h6>
							<div class="social-icons">
								<ul>
									<li class="facebook"><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
									<li class="twitter"><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
									<li class="pinterest"><a href="#" data-toggle="tooltip" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
									<li class="google-plus"><a href="#" data-toggle="tooltip" title="Google-plus"><i class="fa fa-google-plus"></i></a></li>
									<li class="linkedin"><a href="#" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="authorbox">
							<div class="authorbox-image">
								<img src="img/author-image/author-image-1.png" alt="author image">
							</div>
							<div class="authorbox-content">
								<h5>About the Author: <a href="blog-right-sidebar.html">Admin</a></h5>
								<p>Praesent pretium tellus in tortor viverra condimentum condimentum. Nullam dignissim facilisis nisl, accumsan placerat justo ultricies vel</p>
							</div>
						</div>
					</article>
					{/foreach}

					<div class="blog-details-comments-area">
						<div class="commentlist">
							<h6>3 COMMENTS</h6>

							<div class="single-comment">
								<div class="single-comment-thumb">
									<img src="img/author-image/author-image-1.png" alt="hastech logo">
								</div>
								<div class="single-comment-content">
									<div class="single-comment-content-top">
										<h6><a href="blog-right-sidebar.html">ADMIN</a> – February 17, 2015</h6>
										<a href="#" class="reply-button">Reply</a>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum.</p>
								</div>
							</div>

							<div class="single-comment single-comment-reply">
								<div class="single-comment-thumb">
									<img src="img/author-image/author-image-2.png" alt="hastech logo">
								</div>
								<div class="single-comment-content">
									<div class="single-comment-content-top">
										<h6><a href="blog-right-sidebar.html">DEMO</a> – February 17, 2015</h6>
										<a href="#" class="reply-button">Reply</a>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum.</p>
								</div>
							</div>

							<div class="single-comment">
								<div class="single-comment-thumb">
									<img src="img/author-image/author-image-1.png" alt="hastech logo">
								</div>
								<div class="single-comment-content">
									<div class="single-comment-content-top">
										<h6><a href="blog-right-sidebar.html">ADMIN</a> – February 17, 2015</h6>
										<a href="#" class="reply-button">Reply</a>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum.</p>
								</div>
							</div>

						</div>

						<div class="commentbox mt-5">
							<h6>LEAVE A REPLY</h6>
							<form action="#" class="sn-form">
								<div class="sn-form-inner">
									<div class="single-input">
										<label for="new-review-textbox">Comment</label>
										<textarea id="new-review-textbox" cols="30" rows="5"></textarea>
									</div>
									<div class="single-input single-input-half">
										<label for="new-review-name">Name*</label>
										<input type="text" id="new-review-name">
									</div>
									<div class="single-input single-input-half">
										<label for="new-review-email">Email*</label>
										<input type="email" id="new-review-email">
									</div>
									<div class="single-input">
										<button class="sn-button sn-button-dark" type="submit"><span>Post Comment</span></button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
            </div>
            <!--// Blog Area -->

		</main>
		<!--// Page Conttent -->

		<!-- Footer Area -->
		{include file="../public/static/home/footer.html" /}
        <!--// Footer Area -->


	</div>
    <!--// Wrapper -->

</body>


<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->
</html>