<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >
    <title>mainFormObject</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
<body>
        
        <div class="container-fluid" style="background-color: #ecf6f7;">
        <!-- <nav class="navbar navbar-light" style="background-color: #78a7a8;"> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
                <a class="navbar-brand" href="#">资料搜索</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                      <a class="nav-link" href="#">主页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="PersonalCenter.html">个人中心 <span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="请描述您想查询的资料" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">查询</button>
                  </form>
                      <ul class="navbar-nav mr-auto">
                  <ol>
                  <button type="button" class="btn btn-success">
                   上传资料 <span class="badge badge-light">2</span>
                    <span class="sr-only">未读</span>
                  </button>
                  </ol>
                  <ol>
                    <button type="button" class="btn btn-secondary">
                     购物车 <span class="badge badge-light">13</span>
                    </button>
                  </ol>
                </ul>
                </div>
             
            </nav>
            <p> </p>
            <div class="container">
                    <div class="row">
                      <div class="col-xl-12">
                        资料列表
                        <table class="table table-borderless">
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td><img src="touxiang.jpg" alt="头像" width="35"></td>
                                    <td>abcdef</td>
                                    <td>《经管-数据结构期末考试真题2017》</td>
                                    <td> </td>
                                    <td><span class="badge badge-success">下载</span></td>
                                    <td></td>                                   
                                  </tr>
                                  <tr>
                                    <th scope="row"> </th>
                                    <td> </td>
                                    <td><span class="badge badge-warning">官方公告</span></td>
                                    <td><span class="badge badge-light">2019-05-06 21:45</span></td>
                                    <td> </td>
                                    <td><span class="badge badge-light">浏览量：100</span></td>
                                  </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                      <th scope="row">2</th>
                                      <td><img src="touxiang.jpg" alt="头像" width="35"></td>
                                      <td>abcdef</td>
                                      <td>《经管-数据结构期末考试真题2017》</td>
                                      <td> </td>
                                      <td><span class="badge badge-success">下载</span></td>
                                      <td></td>                                   
                                    </tr>
                                    <tr>
                                      <th scope="row"> </th>
                                      <td> </td>
                                      <td><span class="badge badge-warning">官方公告</span></td>
                                      <td><span class="badge badge-light">2019-05-06 21:45</span></td>
                                      <td> </td>
                                    <td><span class="badge badge-light">浏览量：100</span></td>
                                    </tr>
                                  </tbody>
                                  <tbody>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td><img src="touxiang.jpg" alt="头像" width="35"></td>
                                        <td>abcdef</td>
                                        <td>《经管-数据结构期末考试真题2017》</td>
                                        <td> </td>
                                        <td><span class="badge badge-success">下载</span></td>
                                        <td></td>                                   
                                      </tr>
                                      <tr>
                                        <th scope="row"> </th>
                                        <td> </td>
                                        <td><span class="badge badge-warning">官方公告</span></td>
                                        <td><span class="badge badge-light">2019-05-06 21:45</span></td>
                                        <td> </td>
                                        <td><span class="badge badge-light">浏览量：100</span></td>
                                      </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                          <th scope="row">4</th>
                                          <td><img src="touxiang.jpg" alt="头像" width="35"></td>
                                          <td>abcdef</td>
                                          <td>《经管-数据结构期末考试真题2017》</td>
                                          <td> </td>
                                          <td><span class="badge badge-success">下载</span></td>
                                          <td></td>                                   
                                        </tr>
                                        <tr>
                                          <th scope="row"> </th>
                                          <td> </td>
                                          <td><span class="badge badge-warning">官方公告</span></td>
                                          <td><span class="badge badge-light">2019-05-06 21:45</span></td>
                                          <td> </td>
                                          <td><span class="badge badge-light">浏览量：100</span></td>
                                        </tr>
                                      </tbody>
                          </table>
                      </div>
                      <div class="col-sm-4">
                        <div class="card text-center" style="width: 25rem;">
                                <div class="card-body">
                                  <h5 class="card-title">---官方公告---</h5>
                                  <p class="card-text">最新资料上架</p>
                                  <a href="#" class="btn btn-primary">查看</a>
                                </div>
                        </div>
                      </div>
                  </div>
                        <div class="position-bottom">
                          <div class="row">
                          <nav aria-label="...">
                              <ul class="pagination">
                                <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active" aria-current="page">
                                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                  <a class="page-link" href="#">Next</a>
                                </li>
                              </ul>
                            </nav>
                        </div>
                      </div>
             </div>
        </div>
</body>
</html>